<div class="container pb-5">
    <h1 style="color: white;">Desarrollo web</h1>
    <hr class=" ml-0" id="line">
    <div class="row">
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-html5 fa-10x"></i>
                    </div>
                    <h5 class="card-title text-center">HTML</h5>

                </div>
            </div>

        </div>
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-css3 fa-10x"></i>
                    </div>
                    <h5 class="card-title text-center">CSS</h5>

                </div>
            </div>

        </div>
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-js fa-10x"></i>
                    </div>
                    <h5 class="card-title text-center">JS</h5>

                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-php fa-10x"></i>
                    </div>
                    <h5 class="card-title text-center">PHP</h5>

                </div>
            </div>

        </div>
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-angular fa-10x"></i>
                    </div>
                    <h5 class="card-title text-center">Angular</h5>

                </div>
            </div>

        </div>
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                        <i class="fas fa-database fa-10x"></i>
                    </div>
                    <h5 class="card-title text-center">MySQL</h5>

                </div>
            </div>

        </div>

    </div>

    <!-- desarrollo movil -->
    <h1 style="color: white;" class="pt-5">Desarrollo movil</h1>
    <hr class=" ml-0" id="line">

    <div class="row">
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-android fa-10x"></i>
                    </div>
                    <h5 class="card-title text-center">Android</h5>

                </div>
            </div>

        </div>
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">

                <div class="card-body">
                    <div class="container text-center">
                    <img width="150px" height="150px" src="/assets/iconflutter.png" class="mb-3">
                    </div>
                    <h5 class="card-title text-center">Flutter</h5>

                </div>
            </div>

        </div>



    </div>


<!-- desarrollo escritorio -->
<h1 style="color: white;" class="pt-5">Desarrollo de escritorio</h1>
<hr class=" ml-0" id="line">

<div class="row">
    <div class="col-sm p-3">
        <div class="card mx-auto" style="width: 18rem;">

            <div class="card-body">
                <div class="container text-center">
                    <i class="fab fa-java fa-10x"></i>
                </div>
                <h5 class="card-title text-center">Java</h5>

            </div>
        </div>

    </div>
    <div class="col-sm p-3">
        <div class="card mx-auto" style="width: 18rem;">

            <div class="card-body">
                <div class="container text-center">
                <i class="fab fa-windows fa-10x"></i>
                </div>
                <h5 class="card-title text-center">C#</h5>

            </div>
        </div>

    </div>



</div>

<!-- desarrollo electronico -->
<h1 style="color: white;" class="pt-5">Desarrollo electronico</h1>
<hr class=" ml-0" id="line">

<div class="row">
    <div class="col-sm p-3">
        <div class="card mx-auto" style="width: 18rem;">

            <div class="card-body">
                <div class="container text-center">
                    
                    <i class="fas fa-car-battery fa-9x"></i>
                </div>
                <h5 class="card-title text-center">Electronica</h5>
                <h6 class=" text-center">Analogica/Digital</h6>

            </div>
        </div>

    </div>
        <div class="col-sm p-3">
            <div class="card mx-auto" style="width: 18rem;">
        
                <div class="card-body">
                    <div class="container text-center">
                        <img width="220px" height="150px" src="/assets/arduino.png" class="mb-3">
                    </div>
                    <h5 class="card-title text-center">Arduino</h5>
        
                </div>
            </div>
        
        </div>



</div>



</div>