<div class="row justify-content-center no-gutters mb-5 mb-lg-0 pt-5 pb-5"  id="whoiam">
    <div class="col-lg-5" style="padding-top: 5rem;">
        <img class="img-fluid redonda" src="/assets/me.jpg" alt="">
    </div>

    <div class="col-lg-7" style="padding: 5rem;">
        <div class="bg-black text-center h-100 ">
            <div class="d-flex h-100">
                <div class="w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Gabriel Rodriguez Angeles </h4>
                    <br>
                    <p class="mb-0 text-white-50">Tecnologo en desarrollo de software por CETI COLOMOS</p>
                    <br>
                    <p class="mb-0 text-white-50">Generación 2016-2019</p>
                    <br>
                    <p class="mb-0 text-white-50">Cedula profesional: aqui va mi futura cedula c:</p>
                    <br>
                    <p class="mb-0 text-white-50">Segundo lugar en "EXPO INGE-TEC 2019" con el proyecto "SISTEMA GESTOR
                        DE PROYECTOS
                        FINDPROGRAMMER" de la carrera Tecnólogo en desarrollo de software.</p>
                    <hr class=" ml-0" id="line">

                </div>
            </div>
        </div>
    </div>
</div>