<div id="header" class="masthead">

    <br>
    <div @enterStateG>
        <h1 class="letrag">G</h1>
    </div>
    <h1 @enterStateName class="letrasheader">Gabriel Rodriguez Angeles</h1>
    <h1 @enterStateCa class="letrasheader">Software Developer</h1>
    <br>

    <div class="col-md-12 text-center">
        <a @enterStateButtons href="#whoiam" class="btn btn-dark btn-lg ">Conoce mi trabajo <i class="fas fa-chevron-down"></i> </a>
        <a @enterStateButtons href="/assets/GabrielRodriguez.pdf" download="CV_GabrielRodriguez" class="btn btn-dark btn-lg  ml-3 pmobile" >Mi CV <i
                class="fas fa-download"></i> </a>


                
    </div>

</div>
