<section class="page-section p-5" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0" style="color: white;">Contactame!</h2>
                <hr class="divider my-4" id="line">
                <p class="text-muted mb-5" style="color: white;">¿Listo para comenzar tu próximo proyecto? ¡envíame un
                    correo electrónico y te responderé lo antes posible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fab fa-linkedin fa-7x mb-3 text-muted"></i>
                <a class="d-block"
                    href="https://www.linkedin.com/in/gabriel-alfonso-rodríguez-angeles-8970b5177">Gabriel Rodríguez</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-7x mb-3 text-muted"></i>


                <a class="d-block" href="mailto:ragabriel.dev@gmail.com">ragabriel.dev@gmail.com</a>
            </div>
        </div>
    </div>
</section>
<footer class="bg-dark py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright © 2020 - Gabriel Rodriguez</div>
    </div>
</footer>